.turtle_item {
  padding: 5px;
  margin: 2px;
  background-color: #ddd;

  p.score {
    display: inline-block;
    width: 25px;
    text-align: center;
  }

  p.item_text {
    vertical-align: top;
    display: inline-block;

    a {
      font-weight: bold;
    }

    span.details {
      font-size: 10px;
      color: #999;
    }
  }

  a.upvote, a.downvote {
    color: #999;
    &:hover {
      text-decoration: none;
    }

    &.blue_arrow {
      color: #66f; // !important;
    }

    &.red_arrow {
      color: #f66; // !important;
    }
  }

}

.turtle_img {
  display: inline-block;
}

