.turtle_item {
  padding: 5px;
  margin: 2px;
  background-color: #ddd;
  height: 50px;
  max-height: 50px;

  p.score {
    display: inline-block;
    width: 25px;
    text-align: center;
    line-height: 50px;
  }

  .turtle_img {
    display: inline-block;
  }

  p.item_text {
    vertical-align: top;
    display: inline-block;

    a {
      font-weight: bold;
    }

    span.details {
      font-size: 10px;
      color: #999;
    }
  }

  a.upvote, a.downvote {
    color: #999;
    cursor: hand;
    cursor: pointer;
    line-height: 50px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }

    &.blue_arrow {
      color: #66f;
    }

    &.red_arrow {
      color: #f66;
    }
  }

}

